@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #003366;
  --light-card-bg:#194677;
  --dark-blue:#0e2a47;
  --dark-blue-2:#0e2a47;
  --dark-blue-3:#071b35;
  --dark-blue-4:#1e3a8a;
  --dark-blue-5:#1e3a8a;
  --light-blue:#99c2ff;
  --white-color:#ffff;
  --brown-color:#333;
  --gray:#6b7280;
  --light-gray:#374151;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a{
  color: inherit;
}

.container{
  max-width: 100rem;
  margin: auto;
  height: calc(100vh - 3.75rem);
}

